<div class="container">
    <div class="socials-media text-center">

        <ul class="list-unstyled">
            <li><a href="https://github.com/rachelleBoeuf/" target="_blank"><i class="bi bi-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/rachel-leboeuf-8a9080235/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
        </ul>

    </div>

    <p>&copy; Copyrights Folio. All rights reserved.</p>
</div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
