<!DOCTYPE html>
<html lang="en">
<head>{{> head}}</head>
<body>
  <header id="header" class="fixed-top ">{{> header}}</header>
  <main id="main">{{{body}}}</main>
  <footer id="footer" class="text-center">{{> footer}}</footer>
  {{> scripts}}
</body>
</html>
